.navbar {
	color: white;
	background-color: rgb(85, 38, 0);
	height: 4.4vh;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 1px 4vw;
}

.nav-item {
	margin: 0px 3vw;
	font-size: 1.5vh;
	color: white;
}

.nav-item:hover {
	text-shadow: 0.08vw 0.12vh rgb(136, 92, 57);
	font-weight: bold;
	cursor: pointer;
}

.nav-left {
	flex: 5;
}

.nav-right {
	flex: 1;
}
