body {
	font-family: "Nunito", sans-serif;
	margin: 0px;
	color: rgb(85, 38, 0);
	overflow-x: hidden;
	font-size: 1.6vh;
	overflow-y: overlay;
	background-color: rgba(255, 252, 234, 0.747);
}

a {
	text-decoration: none;
}

.main-page {
	display: flex;
}

input {
	font-family: "Nunito", sans-serif;
	color: rgb(85, 38, 0);
}

button {
	font-family: "Nunito", sans-serif;
}

::-webkit-scrollbar {
	color: transparent;
	background-color: transparent;
	width: 5px;
}

body::-webkit-scrollbar-thumb {
	background-color: rgba(85, 38, 0, 0.397);
	border-radius: 40px;
}
