body {
	font-family: "Nunito", sans-serif;
	margin: 0px;
	color: rgb(85, 38, 0);
	overflow-x: hidden;
	font-size: 1.3vh;
}

a {
	text-decoration: none;
}

.main-page {
	display: flex;
}

input {
	font-family: "Nunito", sans-serif;
	color: rgb(85, 38, 0);
}

button {
	font-family: "Nunito", sans-serif;
}
