.overview {
	background-color: rgba(255, 228, 196, 0.527);
	min-height: 120%;
	flex-grow: 1;
	padding: 3vh 3vw;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	box-shadow: rgba(85, 38, 0, 0.17) 0px -23px 25px 0px inset,
		rgba(85, 38, 0, 0.15) 0px -36px 30px 0px inset,
		rgba(85, 38, 0, 0.1) 0px -79px 40px 0px inset,
		rgba(85, 38, 0, 0.06) 0px 2px 1px, rgba(85, 38, 0, 0.09) 0px 4px 2px,
		rgba(85, 38, 0, 0.09) 0px 8px 4px, rgba(85, 38, 0, 0.09) 0px 16px 8px,
		rgba(85, 38, 0, 0.09) 0px 32px 16px;
}

.overview > .backdrop-container {
	height: 50vh;
}

.overview-trips-options {
	display: flex;
	justify-content: space-between;
}

.overview-trips-options > div {
	background-color: bisque;
	padding: 1vh 6vw;
	flex: 1;
	margin: 2vh 5px;
	box-shadow: rgba(85, 38, 0, 0.17) 0px -23px 25px 0px inset,
		rgba(85, 38, 0, 0.15) 0px -36px 30px 0px inset,
		rgba(85, 38, 0, 0.1) 0px -79px 40px 0px inset,
		rgba(85, 38, 0, 0.06) 0px 2px 1px, rgba(85, 38, 0, 0.09) 0px 4px 2px,
		rgba(85, 38, 0, 0.09) 0px 8px 4px, rgba(85, 38, 0, 0.09) 0px 16px 8px,
		rgba(85, 38, 0, 0.09) 0px 32px 16px;
}

.overview-trip-preview {
	display: flex;
	justify-content: space-between;
}

.overview-trip-preview > div {
	margin-left: 20px;
}

.overview-trip-preview > .backdrop-container {
	margin-top: 12px;
}

.trip-preview-container > button {
	width: 100%;
	cursor: pointer;
	background-color: rgb(85, 38, 0);
	color: white;
	border: none;
	border-radius: 20px;
	padding: 10px;
	width: 100%;
	font-size: 1.3vh;
	margin: 10px;
	margin-top: 30px;
}

.trip-preview-container > button:hover {
	font-size: 1.5vh;
}

.overview-trip-access-options {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.overview-trip-access-options > a {
	width: 100%;
	cursor: pointer;
	background-color: rgb(85, 38, 0);
	color: white;
	border: none;
	border-radius: 20px;
	padding: 10px;
	width: 100%;
	font-size: 1.3vh;
	margin: 10px;
	margin-top: 30px;
	padding: 12px;
	text-align: center;
}

.overview-trip-access-options > a:hover {
	font-size: 1.5vh;
}
