.trip-option {
	cursor: pointer;
	margin: 40px 0px;
}

.select-trip-page-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.select-trip-page-top > h1 {
	width: auto;
}

.trip-search {
	flex: 1;
}

.trip-search input {
	width: 90%;
	height: 2.6vh;
	background-color: bisque;
	outline: none;
	border: 1px rgba(85, 38, 0, 0.39) solid;
	border-radius: 20px;
	padding: 0px 1vw;
	box-shadow: 0px 11px 35px 2px rgba(85, 38, 0, 0.329);
	transition: all 0.5s ease-in-out;
	margin: 0px 3.4vw;
}
